<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Stream</title>
</head>
<body>
    <form method="post">
        <input type="text" name="fname" placeholder="Your first name" required/> <br>
        <input type="text" name="lname" placeholder="Your last name" required/> <br>
        <input type="number" name="age" placeholder="Your age" required/> <br>
        <input type="text" name="job" placeholder="Your Job" required/> <br>
        <input class="send" type="submit" value="SEND"/> <br/>
    </form>
</body>
</html>